{% extends 'base-bookmark.html.twig' %}

{% block body %}
		<div class="container">		
		    <div class="row">
		        <div class="col-sm-6 col-md-4 col-md-offset-4">
		            <h1 class="text-center login-title">BookMarks Client</h1>

		            <a href="https://bitbucket.org/jtonynet/jtony-bookmarks" class="text-center new-account">Repositório Client</a> | 
		            <a href="https://bitbucket.org/jtonynet/jtony-bookmarks-api" class="text-center new-account">Repositório API</a>

    				<br/>		            

		            <div class="account-wall">		               

		            	<form action="/user">
			                <button class="btn btn-lg btn-primary btn-block" type="submit" id="user">
			                    Perfil Usuario
			                </button>
			            </form>

			            <br/>

			            <form action="/adm">
			                <button class="btn btn-lg btn-primary btn-block" type="submit" id="adm">
			                   Perfil Administrador
			                </button>
						</form>

		            </div>
		        </div>
		    </div>
		</div>
{% endblock %}
