{% extends 'base-bookmark.html.twig' %}

{% block body %}
		<div class="container">		
		    <div class="row">
		        <div class="col-sm-6 col-md-4 col-md-offset-4">
		            <h1 class="text-center login-title">Criaçao de Usuario</h1>


		            <div class="account-wall">
		                <p class="text-center">{{ user_message }}</p>
		                <a href="{{ logout_url }}" class="text-center new-account">Tela de Login</a> 
		                <form class="form-signin" method="post" action="{{ save_user_action }}">
		                <input type="text" class="form-control" placeholder="name" name="name" id="name" required autofocus>
		                <input type="text" class="form-control" placeholder="nick" name="nick" id="nick" required autofocus>
		                <input type="text" class="form-control" placeholder="email" name="email" id="email" required autofocus>
		                <input type="password" class="form-control" placeholder="Password"  name="password" id="password"  required>
	                
		                <button class="btn btn-lg btn-primary btn-block" type="submit">
		                    Cadastrar
		                </button>
		                </form>
		            </div>
		        </div>
		    </div>
		</div>
{% endblock %}
