{% extends 'base-bookmark.html.twig' %}

{% block body %}
		<div class="container">
		    <div class="row">
		        <div class="col-sm-6 col-md-4 col-md-offset-4">
		            <h1 class="text-center login-title">{% if bookmark %}Ediçao{% else %}Criaçao{% endif %} de Bookmark</h1>
 					<h3 class="text-center login-title">de: {{ user_nick }}</h3>
		            <a href="{{ bookmark_list_url }}" class="text-center new-account">Ver Bookmarks</a> | 
		            <a href="{{ logout_url }}" class="text-center new-account">Sair</a>

		            <div class="account-wall">
		                <p class="text-center">{{ user_message }}</p>
		                <form class="form-signin" method="post" action="{{ save_bookmark_action }}">
		                <input type="text" class="form-control" placeholder="Bookmark" name="bookmark" id="bookmark" {% if bookmark %}value="{{ bookmark.url }}"{% endif %} required autofocus>

		                <input type="hidden" placeholder="id" name="id" id="id" {% if bookmark %}value="{{ bookmark.id }}"{% endif %}>

		                <button class="btn btn-lg btn-primary btn-block" type="submit">
		                    {% if bookmark %}Editar{% else %}Cadastrar{% endif %}
		                </button>
		                </form>
		            </div>
		        </div>
		    </div>
		</div>
{% endblock %}
