{% extends 'base-bookmark.html.twig' %}

{% block body %}
		<div class="container">
		    <div class="row">
		        <div class="col-sm-6 col-md-4 col-md-offset-4">
		            <h1 class="text-center login-title">Tabela de Bookmarks </h1>
 					<h3 class="text-center login-title">de: {{ user_nick }}</h3>
					<p class="text-center">{{ user_message }}</p>
		            <a href="{{ bookmark_create_url }}" class="text-center new-account">Criar Bookmark</a> | 
		            <a href="{{ logout_url }}" class="text-center new-account">Sair</a> | 
					<table border="1" class="table table-condensed">
					  <thead>
					    <tr>
					      <th>Bookmark</th>
					      <th>Actions</th>
					    </tr>
					  </thead>
					  <tbody>

					    {% for bookmark in bookmarks %}
					    <tr>
					        <td><a href="{{ bookmark.url|e }}">{{ bookmark.url|e }}</a></td>
					        <td>
					        	<a href="{{ bookmark_edit_url|e }}/{{ bookmark.id|e }}">
					        		edit 
					        	</a> | 
					        	<a href="{{ bookmark_delete_url|e }}/{{ bookmark.id|e }}">
					        		delete
					        	</a>
					        </td>
					    <tr>					        
					    {% endfor %}
					  
					    </tr>
					  </tbody>
					</table>

		        </div>
		    </div>
		</div>
{% endblock %}
