{% extends 'base-bookmark.html.twig' %}

{% block body %}
		<div class="container">		
		    <div class="row">
		        <div class="col-sm-6 col-md-4 col-md-offset-4">
		            <h1 class="text-center login-title">Login do Administrador</h1>
		            <div class="account-wall">
		                <form class="form-signin" method="post" action="{{ adm_auth_action }}">
		                <input type="text" class="form-control" placeholder="Email" name="email" id="email" required autofocus>
		                <input type="password" class="form-control" placeholder="Password"  name="password" id="password"  required>
		                <button class="btn btn-lg btn-primary btn-block" type="submit">
		                    Logar
		                </button>
		                </form>
		            </div>
		            <p class="text-center">{{ adm_message }}</p>
		        </div>
		    </div>
		</div>
{% endblock %}
