{% extends 'base-bookmark.html.twig' %}

{% block body %}
		<div class="container">
		    <div class="row">
		        <div class="col-sm-6 col-md-4 col-md-offset-4">
		            <h1 class="text-center login-title">Tabela de Bookmarks </h1>
 					<h3 class="text-center login-title">de: {{ adm_nick }}</h3>
					<p class="text-center">{{ adm_message }}</p>
					<a href="{{ logout_url }}" class="text-center new-account">Sair</a> | 
					<a href="{{ user_list_url }}" class="text-center new-account">Voltar</a>
					<table border="1" class="table table-condensed">
					  <thead>
					    <tr>
					      <th>Bookmark</th>
					    </tr>
					  </thead>
					  <tbody>

					    {% for bookmark in bookmarks %}
					    <tr>
					        <td><a href="{{ bookmark.url|e }}">{{ bookmark.url|e }}</a></td>
					    <tr>					        
					    {% endfor %}
					  
					    </tr>
					  </tbody>
					</table>

		        </div>
		    </div>
		</div>
{% endblock %}
