{% extends 'base-bookmark.html.twig' %}

{% block body %}
		<div class="container">
		    <div class="row">
		        <div class="col-sm-6 col-md-4 col-md-offset-4">
		            <h1 class="text-center login-title">Tabela de Users </h1>
 					<h3 class="text-center login-title">Admin: {{ adm_nick }}</h3>
					<p class="text-center">{{ adm_message }}</p>
		            <a href="{{ logout_url }}" class="text-center new-account">Sair</a> | 
					<table border="1" class="table table-condensed">
					  <thead>
					    <tr>
					      <th>Nick</th>
					      <th>Email</th>
					      <th>Action</th>
					    </tr>
					  </thead>
					  <tbody>

					    {% for user in users %}
					    <tr>
					        <td>{{ user.nick|e }}</td>
					        <td>{{ user.email|e }}</td>
					        <td><a href="user/{{ user.id|e }}/bookmarks">Ver Bookmarks</td>
					    <tr>					        
					    {% endfor %}
					  
					    </tr>
					  </tbody>
					</table>

		        </div>
		    </div>
		</div>
{% endblock %}
